@model Construction.Infrastructure.Models.UsersMasterDTO
@{
    ViewData["Title"] = "Add User";
    // Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.2.0/sweetalert2.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.2.0/sweetalert2.all.min.js"></script>
<style>
    button {
        background-color: cadetblue;
        color: whitesmoke;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        font-size: 18px;
        font-weight: 500;
        border-radius: 7px;
        padding: 15px 35px;
        cursor: pointer;
        white-space: nowrap;
        margin: 10px;
    }

    img {
        width: 200px;
    }

   /*  input[type="text"] {
        padding: 12px 20px;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 10px;
        box-sizing: border-box;
    } */

    h1 {
        border-bottom: solid 2px grey;
    }

    #success {
        background: green;
    }

    #error {
        background: red;
    }

    #warning {
        background: coral;
    }

    #info {
        background: cornflowerblue;
    }

    #question {
        background: grey;
    }

</style>

<div class="page-content-section">
    <!-- Content wrapper -->
    <div class="container-fluid">
        <!-- Content -->

        <div class="flex-grow-1 container-p-y">
            <form id="add-user-form" method="post" action="/User/SaveUser" enctype="multipart/form-data">
                <!-- Header -->
                <div class="row">
                    <div class="col-12">
                        <div class="card mb-6 border-right">
                            <div class="d-flex flex-lg-row text-sm-start text-center my-2">
                                <div class="flex-shrink-0 mx-sm-0 mx-auto">
                                    <div class="user-profile-new ms-0 ms-sm-6">
                                        <input type="file" name="profileImageInput" id="profileImageInput" accept="image/*" hidden>
                                        <label class="edit-profile" for="profileImageInput">
                                            <i class="fas fa-edit"></i>
                                        </label>
                                        @if (Model.Base64ProfileImage != null)
                                        {
                                            <img src="/Profile/@Model.Base64ProfileImage" alt="user image" class="d-block user-profile-img" id="profileImagePreview" />
                                        }
                                        else
                                        {
                                            <img src="~/assets/image/default-profile.png" alt="user image" class="d-block user-profile-img" id="profileImagePreview" />
                                        }
                                    </div>
                                </div>
                                <div class="flex-grow-1">
                                    <div class="d-flex h-100 align-items-center justify-content-md-between justify-content-start mx-5 flex-md-row flex-column gap-4">
                                        <div class="user-profile-info w-100">
                                            <h4 class="my-2"><input type="text" name="FullName" value="@Model.FullName" required placeholder="Enter Name Here.." class="editable-text main-input form-control"></h4>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/ Header -->
                <!-- User Profile Content -->
                <div class="card form-new-editable">

                    <div class="row">
                        <!-- Personal Information -->
                        <div class="col-md-12">
                            <div class="card-body ">
                                <h4 class="heading-form-section my-3">Personal Information</h4>
                                <div class="row my-2 py-1">

                                    <div class="col-md-6 d-flex align-items-center mb-4">
                                        <label for="email" class="label-fix form-label mb-0">
                                            <i class="ti ti-mail ti-lg"></i>
                                            <span class="fw-medium mx-2">Email <span class="text-danger">*</span>:</span>
                                        </label>
                                        <input id="email" type="email" name="EmailAddress" value="@Model.EmailAddress" placeholder="Enter email here.." class="editable-text form-control" required>
                                    </div>

                                    <div class="col-md-6 d-flex align-items-center mb-4">
                                        <label for="contact-number" class="label-fix form-label mb-0">
                                            <i class="ti ti-phone ti-lg"></i>
                                            <span class="fw-medium mx-2">Contact Number <span class="text-danger">*</span>:</span>
                                        </label>
                                        <input id="contact-number" type="text" name="ContactNumber" value="@Model.ContactNumber" placeholder="Enter number here.." class="editable-text form-control" required />
                                    </div>

                                    <div class="col-md-6 d-flex align-items-center mb-4">
                                        <label for="gender" class="label-fix form-label mb-0">
                                            <i class="ti ti-user ti-lg"></i>
                                            <span class="fw-medium mx-2">Gender:</span>
                                        </label>
                                        <select id="SelGenderId" name="GenderId" required class="select2 form-select">
                                            <option value="">Select Gender</option>
                                            <option value="1">Male</option>
                                            <option value="2">Female</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6 d-flex align-items-center mb-4">
                                        <label for="dob" class="label-fix form-label mb-0">
                                            <i class="ti ti-calendar ti-lg"></i>
                                            <span class="fw-medium mx-2">Date of Birth <span class="text-danger"></span>:</span>
                                        </label>
                                        <input id="dob" type="date" required name="DOB" value="@(Model.DOB ==null?Model.DOB:Model.DOB.Value.ToString("yyyy-MM-dd"))" placeholder="DD-MM-YYYY" class="editable-text form-control date-picker">
                                    </div>


                                </div>
                            </div>


                            <!-- --job-info--  -->

                            <div class="card-body pt-0">
                                <h4 class="heading-form-section my-3">Job Information</h4>
                                <div class="row my-2 py-1">
                                    <div class="col-md-6 d-flex align-items-center mb-4">
                                        <label for="emp-code" class="label-fix form-label mb-0">
                                            <i class="ti ti-id ti-lg"></i>
                                            <span class="fw-medium mx-2">Employee Code <span class="text-danger">*</span>:</span>
                                        </label>
                                        <input id="emp-code" type="text" name="EmpCode" value="@Model.EmpCode" placeholder="Enter employee code" required class="editable-text form-control">
                                    </div>
                                    <div class="col-md-6 d-flex align-items-center mb-4" style="display:none;">
                                        <label for="department" class="label-fix form-label mb-0">
                                            <i class="fa-solid fa-layer-group"></i>
                                            <span class="fw-medium mx-2">Department <span class="text-danger">*</span>:</span>
                                        </label>
                                        <select id="selDeptId" required name="DepartmentId" class="select2 form-select">
                                            @if (Model.DepartmentList != null)
                                            {
                                                <option value=""> Select</option>
                                                @foreach (var item in Model.DepartmentList)
                                                {
                                                    if (item.DepartmentId == Model.DepartmentId)
                                                    {
                                                        <option value="@item.DepartmentId" selected>
                                                            @item.DepartmentName
                                                            @*   @(item.FirstName != null ? item.FirstName + " " + item.LastName : item.BusinessOwner) *@
                                                        </option>
                                                    }
                                                    else
                                                    {

                                                        <option value="@item.DepartmentId">
                                                            @item.DepartmentName
                                                            @*   @(item.FirstName != null ? item.FirstName + " " + item.LastName : item.BusinessOwner) *@
                                                        </option>
                                                    }
                                                }
                                            }
                                        </select>
                                    </div>
                                @*     <div class="col-md-6 d-flex align-items-center mb-4" style="display:none;">
                                        <label for="job-title" class="label-fix form-label mb-0">
                                            <i class="ti ti-briefcase ti-lg"></i>
                                            <span class="fw-medium mx-2">Designation <span class="text-danger">*</span>:</span>
                                        </label>
                                        <select id="selDesigId" required name="JobTitleId" class="select2 form-select">
                                            @if (Model.JobTitleList != null)
                                            {
                                                <option value=""> Select</option>
                                                @foreach (var item in Model.JobTitleList)
                                                {
                                                    if (item.JobTitleId == Model.JobTitleId)
                                                    {
                                                        <option value="@item.JobTitleId" selected>
                                                            @item.JobTitle
                                                           
                                                        </option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@item.JobTitleId">
                                                            @item.JobTitle
                                                        </option>
                                                    }
                                                }
                                            }
                                        </select>
                                    </div> *@

                                    <div class="col-md-6 d-flex align-items-center mb-4">
                                        <label for="role" class="label-fix form-label mb-0">
                                            <i class="ti ti-user ti-lg"></i>
                                            <span class="fw-medium mx-2">Role <span class="text-danger">*</span>:</span>
                                        </label>
                                        <select id="selRoleId" required name="RoleId" class="select2 form-select">
                                            @if (Model.RoleList != null)
                                            {
                                                <option value=""> Select</option>
                                                @foreach (var item in Model.RoleList)
                                                {
                                                    if (item.RoleId == Model.RoleId)
                                                    {
                                                        <option value="@item.RoleId" selected>
                                                            @item.RoleName
                                                            @*   @(item.FirstName != null ? item.FirstName + " " + item.LastName : item.BusinessOwner) *@
                                                        </option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@item.RoleId">
                                                            @item.RoleName
                                                        </option>
                                                    }
                                                }
                                            }
                                        </select>
                                    </div>
                                    <div class="col-md-6 d-flex align-items-center mb-4">
                                        <label for="manager" class="label-fix form-label mb-0">
                                            <i class="ti ti-user-check ti-lg"></i>
                                            <span class="fw-medium mx-2">Supervisor/Manager:</span>
                                        </label>
                                        <select id="selMgrId" name="MgrId" class="select2 form-select">
                                            @if (Model.UsersKey != null)
                                            {
                                                <option value=""> Select</option>
                                                @foreach (var item in Model.UsersKey)
                                                {
                                                    if (item.UserId == Model.UserId)
                                                    {
                                                        <option value="@item.UserId" selected>
                                                            @(item.FullName != null ? item.FullName : item.BusinessOwner)
                                                            @*   @(item.FirstName != null ? item.FirstName + " " + item.LastName : item.BusinessOwner) *@
                                                        </option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@item.UserId">
                                                            @(item.FullName != null ? item.FullName : item.BusinessOwner)
                                                        </option>
                                                    }
                                                }
                                            }
                                        </select>
                                    </div>
                                    @*   <div class="col-md-6 d-flex align-items-center mb-4" style="display:none;">
                                    <label for="hod" class="label-fix form-label mb-0">
                                    <i class="ti ti-user-check ti-lg"></i>
                                    <span class="fw-medium mx-2">HOD:</span>
                                    </label>
                                    <select id="selHODId" name="HODId" class="select2 form-select">
                                    @if (Model.UsersKey != null)
                                    {
                                    <option value=""> Select</option>
                                    @foreach (var item in Model.UsersKey)
                                    {
                                    if (item.UserId == Model.UserId)
                                    {
                                    <option value="@item.UserId" selected>
                                    @(item.FullName != null ? item.FullName : item.BusinessOwner)
                                    </option>
                                    }
                                    else
                                    {
                                    <option value="@item.UserId">
                                    @(item.FullName != null ? item.FullName : item.BusinessOwner)
                                    </option>
                                    }
                                    }
                                    }
                                    </select>
                                    </div> *@
                                    <div class="col-md-6 d-flex align-items-center mb-4">
                                        <label for="date-of-joining" class="label-fix form-label mb-0">
                                            <i class="ti ti-calendar ti-lg"></i>
                                            <span class="fw-medium mx-2">Date of Joining:</span>
                                        </label>
                                        <input id="date-of-joining" type="date" name="DOJ" value="@(Model.DOJ ==null?Model.DOJ:Model.DOJ.Value.ToString("yyyy-MM-dd"))" placeholder="23, March 2025" class="editable-text form-control date-picker">
                                    </div>
                                    @*  <div class="col-md-6 d-flex align-items-center mb-4" style="display:none;">
                                    <label for="work-location" class="label-fix form-label mb-0">
                                    <i class="ti ti-map ti-lg"></i>
                                    <span class="fw-medium mx-2">Work Location:</span>
                                    </label>
                                    <input id="work-location" type="text" name="WorkLocation" value="@Model.WorkLocation" placeholder="Enter work location" class="editable-text form-control">
                                    </div> *@
                                    <div class="col-md-6 d-flex align-items-center mb-4">
                                        <label for="employee-type" class="label-fix form-label mb-0">
                                            <i class="ti ti-building ti-lg"></i>
                                            <span class="fw-medium mx-2">Employment Type<span class="text-danger">*</span>:</span>
                                        </label>
                                        <select id="EmpTypeId" required name="EmpTypeId" class="select2 form-select">
                                            <option value="">Select Employment Type</option>
                                            <option value="F">Full Time</option>
                                            <option value="P">Part Time</option>
                                            <option value="C">Contract</option>
                                            <option value="I">Internship</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6 d-flex align-items-center mb-4">
                                        <label for="employment-status" class="label-fix form-label mb-0">
                                            <i class="ti ti-flag ti-lg"></i>
                                            <span class="fw-medium mx-2">Employment Status:</span>
                                        </label>
                                        <select id="employment-status" name="EmpStatus" class="select2 form-select">
                                            <option>Select Employment Status</option>
                                            <option value="1" selected>Active</option>
                                            <option value="0">InActive</option>

                                        </select>
                                    </div>
                                    <div class="col-md-6 d-flex align-items-center mb-4">
                                        <label for="work-email" class="label-fix form-label mb-0">
                                            <i class="ti ti-mail ti-lg"></i>
                                            <span class="fw-medium mx-2">Work Email:</span>
                                        </label>
                                        <input type="email" id="work-email" name="BusinessEmail" value="@Model.BusinessEmail" placeholder="Enter work email" class="editable-text form-control">
                                    </div>
                                </div>
                            </div>
                            <!-- ---contact-details--  -->

                            <div class="card-body pt-0">
                                <div class="row">
                                    <div class="col-12 text-end">
                                        <input type="hidden" id="hdnUserType" name="UserType" value="1">
                                        <input type="hidden" id="hdnUserId" name="UserId" value="@Model.UserId">
                                        <button type="submit" class="btn btn-primary me-3 waves-effect waves-light">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>


                </div>
            </form>
        </div>


    </div>
    <!-- Content wrapper -->
</div>


@section scripts {

    @* <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script> *@

    <script type="text/javascript">
        var environmentUrl = '@ViewBag.EnvironmentUrl';
        $(document).ready(function () {
            //alert("Document is ready");
            //  GetCountry();
            // GetDepartment();
            // GetDesignation();
            // GetRole();
          //  alert(@Model.HttpStatusCode)


            if (@Model.UserId != 0 || @Model.HttpStatusCode!= 200) {
              //  alert("@Model.EmpTypeId");
                $('#EmpTypeId option:contains(' + "@Model.EmpTypeId" + ')').attr('selected', 'selected').change();
                $('#SelGenderId').val('@Model.GenderId').attr('selected', 'selected').change();

            }
            if ("@Model.DisplayMessage.Equals(string.Empty)" == "False") {
                if ("@Model.HttpStatusCode" == 200) {

                    // Swal.fire({
                    //     'Success',
                    //     "@Model.DisplayMessage",
                    //     'success'

                    //         })
                }
                else {

                    // Swal.fire({
                    //     'Success',
                    //     "@Model.DisplayMessage",
                    //     'success'

                    //                 })
                }
            }
        });






        // function GetCountry() {



        //     jQuery("#selCountryId").html("")
        //     var optionhtml1 = '';
        //     $("#selCountryId").append('<option value=" ">' + "--Select--" + '</option>');
        //     jQuery.ajax({
        //         url: environmentUrl + '/MasterAPIs/GetCountry',
        //         type: "GET",
        //         dataType: "json",
        //         success: function (response) {
        //             // console.log(response);

        //             $.each(response, function (i) {
        //                 var optionhtml = '<option value="' +
        //                     response[i].countryId + '">' + response[i].countryName + '</option>';
        //                 $("#selCountryId").append(optionhtml);
        //             });
        //             $('#selCountryId').val(@Model.CountryId).change();
        //             // PopulateStateDDL(@Model.CountryId);
        //         },
        //         failure: function (response) {
        //             Swal.fire({
        //                 'Error!',
        //                 response.responseText,
        //                 'error',
        //                 confirmButtonText: 'OK'
        //             })
        //         },
        //         error: function (response) {
        //             Swal.fire({
        //                 'Error!',
        //                 response.responseText,
        //                 'error',
        //                 confirmButtonText: 'OK'
        //             })
        //         }
        //     });
        // }

        // function GetDepartment() {


        //     jQuery("#selDeptId").html("")
        //     var optionhtml1 = '';
        //     $("#selDeptId").append('<option value=" ">' + "--Select--" + '</option>');
        //     jQuery.ajax({
        //         url: environmentUrl + '/MasterAPIs/GetDepartment',
        //         type: "GET",
        //         dataType: "json",
        //         success: function (response) {
        //             // console.log(response);
        //             $.each(response, function (i) {
        //                 var optionhtml = '<option value="' +
        //                     response[i].departmentId + '">' + response[i].departmentName + '</option>';
        //                 $("#selDeptId").append(optionhtml);
        //             });
        //             $('#selDeptId').val(@Model.DepartmentId).change();
        //         },
        //         failure: function (response) {
        //             Swal.fire({
        //                 'Error!',
        //                 response.responseText,
        //                 'error',
        //                 confirmButtonText: 'OK'
        //             })
        //         },
        //         error: function (response) {
        //             Swal.fire({
        //                 'Error!',
        //                 response.responseText,
        //                 'error',
        //                 confirmButtonText: 'OK'
        //             })
        //         }
        //     });
        // }

        // function GetDesignation() {


        //     jQuery("#selDesigId").html("")
        //     var optionhtml1 = '';
        //     $("#selDesigId").append('<option value=" ">' + "--Select--" + '</option>');
        //     jQuery.ajax({
        //         url: environmentUrl + '/MasterAPIs/GetJobTitle',

        //         type: "GET",
        //         dataType: "json",
        //         success: function (response) {
        //             // console.log(response);
        //             $.each(response, function (i) {
        //                 var optionhtml = '<option value="' +
        //                     response[i].jobTitleId + '">' + response[i].jobTitle + '</option>';
        //                 $("#selDesigId").append(optionhtml);
        //             });
        //             $('#selDesigId').val(@Model.JobTitleId).change();
        //         },
        //         failure: function (response) {
        //             swal(
        //                 'Error!',
        //                 response.responseText,
        //                 'error'
        //             )
        //         },
        //         error: function (response) {
        //             swal(
        //                 'Error!',
        //                 response.responseText,
        //                 'error'
        //             )
        //         }
        //     });
        // }

        // function GetRole() {


        //     jQuery("#selRoleId").html("")
        //     var optionhtml1 = '';
        //     $("#selRoleId").append('<option value=" ">' + "--Select--" + '</option>');
        //     jQuery.ajax({
        //         url: environmentUrl + '/MasterAPIs/GetRole',
        //         type: "GET",
        //         dataType: "json",
        //         success: function (response) {
        //             // console.log(response);
        //             $.each(response, function (i) {
        //                 var optionhtml = '<option value="' +
        //                     response[i].roleId + '">' + response[i].roleName + '</option>';
        //                 $("#selRoleId").append(optionhtml);
        //             });
        //             $('#selRoleId').val(@Model.RoleId).change();
        //         },
        //         failure: function (response) {
        //             swal(
        //                 'Error!',
        //                 response.responseText,
        //                 'error'
        //             )
        //         },
        //         error: function (response) {
        //             swal(
        //                 'Error!',
        //                 response.responseText,
        //                 'error'
        //             )
        //         }
        //     });
        // }

        // function PopulateStateDDL(countryId) {


        //     jQuery("#selStateId").html("")
        //     var optionhtml1 = '';
        //     $("#selStateId").append('<option value=" ">' + "--Select--" + '</option>');

        //     jQuery.ajax({
        //         type: "GET",
        //         //  url: "/Master/GetCountryState",
        //         url: environmentUrl + '/MasterAPIs/GetCountryState',
        //         data: { countryId: countryId },
        //         success: function (response) {

        //             $.each(response, function (i) {
        //                 var optionhtml = '<option value="' +
        //                     response[i].stateId + '">' + response[i].stateName + '</option>';
        //                 $("#selStateId").append(optionhtml);
        //             });


        //             $('#selStateId').val(@Model.StateId).change();
        //             // PopulateCityDDL(@Model.StateId);

        //         },
        //         failure: function (response) {
        //             swal(
        //                 'Error!',
        //                 response.responseText,
        //                 'error'
        //             )
        //         },
        //         error: function (response) {
        //             swal(
        //                 'Error!',
        //                 response.responseText,
        //                 'error'
        //             )
        //         }

        //     });

        // }

        // function PopulateCityDDL(stateId) {


        //     jQuery("#selCityId").html("")
        //     var optionhtml1 = '';
        //     $("#selCityId").append('<option value=" ">' + "--Select--" + '</option>');

        //     jQuery.ajax({
        //         type: "GET",
        //         url: environmentUrl + '/MasterAPIs/GetStateCity',
        //         data: { stateId: stateId },
        //         success: function (response) {

        //             $.each(response, function (i) {
        //                 var optionhtml = '<option value="' +
        //                     response[i].cityId + '">' + response[i].cityName + '</option>';
        //                 $("#selCityId").append(optionhtml);
        //             });

        //             $('#selCityId').val(@Model.CityId).change();
        //         },
        //         failure: function (response) {
        //             swal(
        //                 'Error!',
        //                 response.responseText,
        //                 'error'
        //             )
        //         },
        //         error: function (response) {
        //             swal(
        //                 'Error!',
        //                 response.responseText,
        //                 'error'
        //             )
        //         }

        //     });

        // }



        document.addEventListener("DOMContentLoaded", function () {
            const fileInput = document.getElementById('profileImageInput');
            const imgPreview = document.getElementById('profileImagePreview');

            fileInput.addEventListener('change', function (event) {
                const file = event.target.files[0];

                if (file) {
                    const reader = new FileReader();
                    reader.onload = function (e) {
                        imgPreview.src = e.target.result; // Set the selected image as the source
                    };
                    reader.readAsDataURL(file); // Read the file as a data URL
                }
            });
        });


    </script>
}
