@model Construction.Infrastructure.Models.UsersMasterDTO

@{
    ViewData["Title"] = "User Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid mt-4 page-content-section content-wrapper">
    <!-- Content -->



    <div class=" flex-grow-1">
        <!-- DataTable with Buttons -->
        <div class="row">
            <div class="col-12">
            </div>

        </div>
        <div class="card px-2">
            <div class="d-flex flex-wrap py-2 justify-content-between">

                <h4 class="mb-0">
                    <span class=" p-0 pl-2 fw-bold">All Users</span>
                </h4>

                @if (Model.AccessList.Where(x => x.IsView == true).Count() > 0)
                {
                    <div class="text-end"><a href="~/User/AddVendorUser" class="btn btn-primary me-sm-3 me-1addShow">Add New Vendor</a></div>

                }

            </div>
            <div class="card-datatable table-responsive border-top pt-0">
                <table class="users-datatable main-table table">
                    <thead>
                        <tr>


                            <th>User Name</th>
                            <th>Contact Number</th>
                            <th>Email</th>
                            <th>Sub Task</th>                           
                            <th>City</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>


                        @if (Model.UserList != null)
                            @foreach (var item in Model.UserList)
                            {
                                <tr>

                                    <td>
                                        <div class="d-flex justify-content-start align-items-center user-name">
                                            <div class="avatar me-2">
                                                @if (!string.IsNullOrEmpty(item.ProfileName))
                                                {
                                                    <img src="~/Profile/@item.ProfileName" alt="@item.CompanyName" class="rounded-circle">
                                                }
                                                else
                                                {
                                                    <img src="~/assets/image/user-default.png" alt="@item.CompanyName" class="rounded-circle">
                                                }
                                            </div>
                                            @item.FullName
                                        </div>
                                    </td>
                                    <td>@item.ContactNumber</td>
                                    <td>@item.EmailAddress</td>
                                    <td>0</td>                                   
                                    <td>@item.CityName</td>
                                    <td>
                                        @if (item.IsActive == true)
                                        {
                                            <span class="badge bg-label-success">Active</span>
                                        }
                                        else
                                        {
                                            <span class="badge bg-label-danger">InActive</span>
                                        }


                                    </td>

                                    <td>
                                        <a href="/User/VendorProfile/@item.EnycUserId"><i class="fa fa-eye text-success me-1"></i></a>
                                        <a href="/User/GetUserById/@item.EnycUserId"><i class="fa fa-edit text-primary me-1"></i></a>
                                        <a href="/User/DeleteUser/@item.EnycUserId" onclick="return confirm('Are you sure?')"><i class="fa fa-trash text-danger me-1"></i></a>
                                     </td>
                                </tr>
                            }

                    </tbody>
                </table>
            </div>
        </div>
        <!-- Modal to add new record -->
        <!--/ DataTable with Buttons -->

    </div>
    <!-- / Content -->
    @*   <div class="content-backdrop fade"></div> *@
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<script src="~/assets/js/users-datatable.js"></script>
