@model Construction.Infrastructure.Models.UserNotificationsDTO

<style>
    .dropdown-notifications-list.scrollable-container {
        max-height: calc(110vh - 160px);
        overflow-y: auto;
        padding-left: 0px;
    }
</style>

<li class="nav-item dropdown-notifications navbar-dropdown dropdown me-3 me-xl-2">
    <a class="nav-link btn btn-text-secondary btn-icon rounded-pill dropdown-toggle hide-arrow"
       href="javascript:void(0);"
       data-bs-toggle="dropdown"
       data-bs-auto-close="outside"
       aria-expanded="false">
        <span class="position-relative">
            <i class="ti ti-bell ti-md"></i>
            <span class="badge rounded-pill bg-danger badge-dot badge-notifications border"></span>
        </span>
    </a>
    <ul class="dropdown-menu dropdown-menu-end p-0">
        @if (Model.NotificationList != null)
        {
            <li class="dropdown-menu-header border-bottom">
                <div class="dropdown-header d-flex align-items-center py-3">
                    <h6 class="mb-0 me-auto">Notification</h6>
                    <div class="d-flex align-items-center h6 mb-0">
                        <span class="badge bg-label-primary me-2">@Model.NotificationList.Count New</span>
                        <a href="javascript:void(0)"
                        class="btn btn-text-secondary rounded-pill btn-icon dropdown-notifications-all"
                        data-bs-toggle="tooltip"
                        data-bs-placement="top"
                        title="Mark all as read">
                            <i class="ti ti-mail-opened text-heading"></i>
                        </a>
                    </div>
                </div>
            </li>

            <li class="dropdown-notifications-list scrollable-container">
                <ul class="list-group list-group-flush">

                    @foreach (var item in Model.NotificationList)
                    {
                      
                                <li class="list-group-item list-group-item-action dropdown-notifications-item">
                                    <small class="mb-1 d-block fw-bold text-body">@item.ProjectName</small>
                                    <div class="d-flex">

                                        <div class="flex-shrink-0 me-3">
                                            <div class="avatar">
                                        @if (item.ProfileName != null)
                                        {
                                            <img src="~/Profile/@item.ProfileName" alt="Avatar" class="rounded-circle" />
                                        }
                                        else
                                        {
                                            <img src="~/Profile/user-default.png" alt="Avatar" class="rounded-circle" />
                                        }
                                      @*   <img src="~/Profile/@item.ProfileName" alt class="rounded-circle" /> *@
                                            </div>
                                        </div>
                                        <div class="flex-grow-1">
                                            <h6 class="small mb-1">@item.FullName</h6>

                                            @*   <small class="mb-1 d-block text-body">@item.ProjectName</small> *@
                                            <p class="mb-0 text-notification">@(item.NotifyMessage)</p>

                                            @if (item != null && item.CreationDate != null)
                                            {
                                                DateTime publishDateTime = item.CreationDate ?? default(DateTime);

                                                DateTime utcNow = DateTime.UtcNow;
                                        TimeZoneInfo indianTimeZone = TimeZoneInfo.FindSystemTimeZoneById("Central Standard Time");
                                              // TimeZoneInfo indianTimeZone = TimeZoneInfo.FindSystemTimeZoneById("India Standard Time");
                                                DateTime indianTime = TimeZoneInfo.ConvertTimeFromUtc(utcNow, indianTimeZone);
                                                var timeDiff = (indianTime - publishDateTime);
                                                if (timeDiff != null)
                                                {
                                                    if (timeDiff.Days >= 1)
                                                    {
                                                        if (timeDiff.Days > 1)
                                                        {
                                                            <small class="text-muted">@(timeDiff.Days) days ago</small>
                                                        }
                                                        else
                                                        {
                                                            <small class="text-muted">@(timeDiff.Days) day ago</small>
                                                        }
                                                    }
                                                    else if (timeDiff.Hours >= 1)
                                                    {
                                                        if (timeDiff.Hours > 1)
                                                        {
                                                            <small class="text-muted">@(timeDiff.Hours) hours ago</small>
                                                        }
                                                        else
                                                        {
                                                            <small class="text-muted">@(timeDiff.Hours) hour ago</small>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        if (timeDiff.Minutes > 1)
                                                        {
                                                            <small class="text-muted">@(timeDiff.Minutes) minutes ago</small>
                                                        }
                                                        else
                                                        {
                                                            <small class="text-muted">@(timeDiff.Minutes) minute ago</small>
                                                        }
                                                    }
                                                }
                                            }




                                        </div>
                                        <div class="flex-shrink-0 dropdown-notifications-actions">
                                            <a href="javascript:void(0)" class="dropdown-notifications-read">
                                                <span class="badge badge-dot"></span>
                                            </a>
                                    <a href="#" onclick="RemoveNotification(@item.ID);" class="dropdown-notifications-archive">
                                                <span class="ti ti-x"></span>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                         
                    }

                </ul>
            </li>


           


           
          
            <li class="border-top">
                <div class="d-grid p-4">
                    <a class="btn btn-primary btn-sm d-flex" href="~/Organization/ViewNotifications">
                    <small class="align-middle">View all notifications</small>
                </a>
            </div>
        </li>
        }
    </ul>
</li>
