@model Construction.Infrastructure.Models.DepartmentMasterDTO
@{
    ViewData["Title"] = "Add Country";

}

<div class="page-content-section">
    <!-- Content wrapper -->
    <div class="container-fluid mt-4  content-wrapper">
        <!-- Content -->


        <div class="flex-grow-1">
            <div class="card px-2">


            <div class="row">
                <div class="col-12">

               
                    <div class="card addShow" id="List" style="@(ViewBag.Div=="Add" ? "display:none" : "")">

                        <div class="card-body">
                                <div class="d-flex justify-content-between flex-wrap gap-5">
                                    <h4 class="fw-bold"><span class="text-muted fw-light"></span> Department </h4>
                                    <div>

                                        <button type="button"
                                                class="btn btn-primary mb-2 ms-2"
                                                data-bs-toggle="tooltip"
                                                data-bs-offset="0,4"
                                                data-bs-placement="right"
                                                data-bs-html="true"
                                                onclick="AddView()">
                                            @*title="<i class='bx bx-trending-up bx-xs' ></i> <span>Add all existing departments within your company structure. For example: Marketing, Sales, HR.</span>">*@
                                            Add Record
                                        </button>
                                    </div>
                                </div>
                            <div class="card-datatable table-responsive pt-0">
                                <table class="master-datatable table" id="List">
                                    <thead>
                                        <tr>
                                            <th>Code</th>
                                            <th>Name</th>
                                            @* <th>Status</th>*@
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    @*  <tbody id="mycountrytbl">
                                    </tbody> *@

                                    <tbody>
                                        @if (Model.DepartmentMasterList != null)
                                            @foreach (var item in Model.DepartmentMasterList)
                                            {
                                                <tr>
                                                    <td>@item.DepartmentCode</td>
                                                    <td>@item.DepartmentName</td>

                                                    <td>
                                                        <a href="/Master/GetDeptById/@item.EncryptedDepartmentId"><i class="fa fa-edit me-1"></i></a>
                                                            <a href="#" onclick="DeleteRecord('@item.EncryptedDepartmentId')"><i class="fa fa-trash me-1"></i></a>
                                                    </td>
                                                </tr>
                                            }
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>

                    <div class="card" id="Add" style="@(ViewBag.Div=="Add" ? "" : "display:none")">
                        <div class="card-body">
                            <div class="text-end"><button type="button" class="btn btn-primary me-sm-3 me-1addShow" value="List" onclick="ListView();">List</button></div>

                            <div style="clear:both"></div>
                            <form method="post" action="/Master/DeptMaster">
                                <div class="row g-3">
                                    <div class="col-md-6">
                                        <label class="form-label" for="multicol-last-name">Department Code</label>
                                        <input type="text" id="DepartmentCode" name="DepartmentCode" required maxlength="10" value="@Model.DepartmentCode" class="form-control" placeholder="Department Code">

                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label" for="multicol-last-name">Department Name</label>
                                        <input type="text" id="DepartmentName" name="DepartmentName" required maxlength="100" value="@Model.DepartmentName" class="form-control" placeholder="Department Name">

                                    </div>
                                </div>
                                <div class="pt-4">
                                    <input type="hidden" id="DepartmentId" name="DepartmentId" value="@Model.DepartmentId">
                                    <button type="submit" class="btn btn-primary me-sm-3 me-1">Submit</button>
                                    <button type="reset" class="btn btn-label-secondary" onclick="ListView();">Cancel</button>
                                </div>
                            </form>

                        </div>
                    </div>


                    <!--/ add=user Wizard -->
                </div>
            </div>
        </div>
        <!-- / Content -->
      

    </div>
</div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
@* <script src="~/assets/js/masters-datatable.js"></script> *@
<script type="text/javascript">
    $(document).ready(function () {

      
        if (@Model.DepartmentId != 0 || @Model.HttpStatusCode!= 200) {     
            $("#List").hide();
            $("#Add").show();
        }
        if ("@Model.DisplayMessage.Equals(string.Empty)" == "False") {
          
            Swal.fire({
                title: 'Message',
                text: "@Model.DisplayMessage",
                icon: 'success',
                confirmButtonText: 'OK!'
            });           
        }
    });
    //  new DataTable('#List');

    function ListView() {
        $("#Add").hide();
        $("#List").show();
    }
    function AddView() {
        $("#Add").show();
        $("#List").hide();
      
    }
    function ShowServerMessage(sMsg) {

        alert(sMsg);
        // jQuery("#successPara").html("");
        // jQuery("#errorPara").html("");
        // jQuery("#successDiv").show();
        // jQuery("#successPara").html(sMsg);
        // jQuery("#showAlert").modal('show');


    }
    function DeleteRecord(departmentId) {

        Swal.fire({
            title: 'Are you sure?',
            text: "It will be permanently deleted!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!',
            cancelButtonText: 'Cancel'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = "/Master/DeleteDepartment/" + departmentId;
                Swal.fire(
                    'Deleted!',
                    'Department has been deleted.',
                    'success'
                );
              
            }
        });

        // if (confirm("Sure want to delete department '" + countryName + "'?")) {
        //     window.location.href = "/Master/DeleteDepartment/" + countryId;
        // }
        return false;
    }
    function GetCountry() {
        //var objDDL = countryDDL
        // jQuery("#CountryId").attr("disabled", true)
        jQuery("#mycountrytbl").html("")
        jQuery.ajax({
            // url: 'https://localhost:7013/api/MasterAPIs/GetCountry',
            url: 'http://208.110.72.220:93/api/MasterAPIs/GetCountry',
            type: "GET",
            dataType: "json",
            success: function (response) {
                // console.log(response);
                $.each(response, function (key, item) {
                    // alert(item.countryName);
                    $("#mycountrytbl").append('<tr><td>' + item.countryCode + '</td><td>' + item.countryName + '</td><td>' + item.countryName + '</td></tr>');
                });

            },
            failure: function (response) {
                $erroralert("Error!", "errror<br>" + response.responseText);
            },
            error: function (response) {
                $erroralert("Error!", "errror<br>" + response.responseText);
            }
        });
    }





</script>
